<h1>新規収支登録</h1>

<div class="row">
  <div class="col-md-3">
    <%= render 'public/users/user_info', user: current_user %>
  </div>
  <div class="col-md-9">
    <%= render 'form', post: @post, button_text: "登録す %>
  </div>
</div>


