@use '~bootstrap/scss/bootstrap';

h1, h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-area {
  background-image: url('../images/bg_top.jpg');
  height: 60vh;
  background-size: cover;
  background-position: center right;
}