<h3>ID: <%= user.id %>

<h2><%= user.name %>

<h3><% user.email %></h3>

<%= link_to "userを退会させる", admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか? "}, class: "btn btn-danger" %>

